{% extends "base.html" %}

{% block content %}
	
    <div class="span9">
	<div class="hero-unit main-header">
	    <h2>About</h2>
	    What is the point? Why should you want a Smart-Cube?
	</div>
	<div class="row-fluid">
		<div class="span12">
		    Smart-Cubes are versatile cubes which you can use to manage your time and let your friends know what you're doing.
		    Smart-Cubes are physical objects that you keep on your desk. Each Smart-Cube can be in one of 6 states, denoted by which side is face up. Simply change state by rotating the Smart-Cube! <br/>
		    The Smart-Cube will record how long was spent in each state and publish the information to this site. Using the Smart-Cube means you don't need to keep track of how long you've spent working on one project. Let the Smart-Cube keep track of it for you!
		</div>
	</div>
    </div>
{% end %}
