{% extends "base.html" %}
{% block content %}
<div class="span9">
	<div class="hero-unit main-header">
	    <h2>Register</h2>
	    {% if complete %}
    	    Thank you for registering this cube! It will begin updating once it has connected to our systems.
	    {% else %}
	        {% if not registered %}
	        Would you like to register this Smart-Cube to your account?
		<form action="/register" method="post">
		    <input type="hidden" name="unique_code" value="{{ unique_code }}">
		    <input type="submit" value="Register" class="btn">
		</form>
	        {% else %}
		Sorry, this cube has already been registered! To re-register this Smart-Cube is must first be unregistered.
	        {% end %}
	    {% end %}
	</div>
</div>
{% end %}
